@font-face {
    font-family: Overlock;
    src: url('/font/Overlock-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Playwrite;
    src: url('/font/PlaywriteUSModern-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Overlock', sans-serif !important;
    background: #d3cfcf !important;
}

.main-content{
    height: 100vh;
}

a{
    text-decoration: none;
}

#error_page{
    background: white !important;
}