<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Book Management</title>
</head>
<body>
<div class="container-fluid">
    <div class="row main-content">
        <div th:replace="~{fragments/leftSide :: leftSide('book')}"></div>
        <div th:replace="~{fragments/rightSide :: rightSide(~{::#content})}">
            <div id="content" class="p-3 overflow-auto">
                <div class="d-flex justify-content-end align-items-center w-100">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addBook">
                        <img th:src="@{image/add.png}" width="35" height="35" alt="plus"/>
                    </button>
                </div>
                <div class="row d-flex flex-wrap mt-4 overflow-auto">
                    <div class="card col-md-4" th:each="book:${ownedBooks}">
                        <img th:src="@{image/user/default.png}" class="card-img-top" alt="book">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.getTitle()}"></h5>
                            <p class="card-text text-muted" th:each="author:${book.getAuthors()}"
                               th:text="${author}"></p>
                            <a href="#" class="btn btn-danger">Remove</a>
                            <a href="#" class="btn btn-info">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="addBookLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addBookLabel">Add Book To Collection</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" th:action="@{'/user/v1/add-book-to-collection'}" method="post" th:object="${dto}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div>
                    <label for="books">Available Book</label>
                    <select id="books" class="form-control" th:field="*{bookIds}" multiple>
                        <option th:each="book:${books}" th:value="${book.getId()}"
                                th:text="${book.getTitle()}"></option>
                    </select>
                </div>
                <br/>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>